header {
  width: 700px;
  .title {
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin: 2rem 0;
    .span-title {
      color: #ffb200;
    }
  }
  @media screen and (max-width: 820px) {
    .title {
      font-size: 3.18rem;
      text-align: center;
    }
  }
}
